{% extends 'cms/layout.twig' %}

{% block title %}Hjem{% endblock %}

{% block content %}
    <main class="container cms-main">
        <div class="row">
            <div class="col mt-3">
                <h1 class="text-center">Hjem</h1>
            </div>
        </div>
        <div class="row mt-5 pb-5">
            <div class="col-6 offset-3">
                <div class="card">
                    <div class="card-header">
                        <p class="h2 text-center">Velkommen {{ auth.user.firstname }}</p>
                    </div>
                    <div class="card-body">
                        <span class="font-weight-bold">Seneste login</span>: {{ auth.user.last_login|date("d/m/Y H:i:s", "Europe/Copenhagen") }}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}